.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #f8f8f8;
  border-right-color: #c4c4c4;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
   to{
      transform: rotate(1turn)
   }
}